@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Navbar style*/

/* .navbar {
    background-color: rgb(51, 51, 51);
    color: white ;
    display: flex;
    text-align: center;
    flex-direction: column;
    padding: 10px;
}

.navbar nav {
    list-style: none;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

.navbar nav li {
    display: inline;
    margin-right: 20px;
}

.navbar nav a {
    text-decoration: none;
    color: white;
}

.navbar nav a:hover{
    text-decoration: none;
    color: rgb(158, 25, 175);
} */

#menu {
	background: #535353;
	/* background: linear-gradient(to bottom,  #0099CC,  #FF99CC); */
	height: 45px;
	border-radius: 10px;
}
#menu ul, #menu li {
	margin: 0 auto;
	padding: 0;
	list-style: none
}
#menu ul {
	width: 100%;
	text-align: center;
}
#menu li {
	display: inline-block;
	position: relative;
}
#menu a {
	display: block;
	line-height: 45px;
	padding: 0 14px;
	text-decoration: none;
	color: #FFFFFF;
	font-size: 16px;
}
#menu a.dropdown-arrow:after {
	content: "\25BE";
	margin-left: 5px;
}
#menu li a:hover {
	color: #a01cd4;
	/* background: #F2F2F2; */
}
#menu input {
	display: none;
	margin: 0;
	padding: 0;
	height: 45px;
	width: 100%;
	opacity: 0;
	cursor: pointer
}
#menu label {
	display: none;
	line-height: 45px;
	text-align: center;
	position: absolute;
	left: 35px
}
#menu label:before {
	font-size: 1.6em;
	color: #FFFFFF;
	content: "\2261"; 
	margin-left: 20px;
}
#menu ul.sub-menus{
	height: auto;
	overflow: hidden;
	width: 170px;
	background: rgb(83, 83, 83);
	position: absolute;
	z-index: 99;
	display: none;
}
#menu ul.sub-menus li {
	display: block;
	text-align: left;
	width: 100%;
}
#menu ul.sub-menus a {
	color: #FFFFFF;
	font-size: 16px;
}
#menu li:hover ul.sub-menus {
	display: block
}
#menu ul.sub-menus a:hover{
	background: #F2F2F2;
	color: #444444;
}
@media screen and (max-width: 800px){
	#menu {position:relative}
	#menu ul {background:#444444;position:absolute;top:100%;right:0;left:0;z-index:3;height:auto;display:none;text-align:left;}
	#menu ul.sub-menus {width:100%;position:static;}
	#menu ul.sub-menus a {padding-left:30px;}
	#menu li {display:block;float:none;width:auto;}
	#menu input, #menu label {position:absolute;top:0;left:0;display:block}
	#menu input {z-index:4}
	#menu input:checked + label {color:#FFFFFF}
	#menu input:checked + label:before {content:"\00d7"}
	#menu input:checked ~ ul {display:block}
}


/* main sectiom styles */

.main-section{
    padding: 20px;
    background: url("tutor3.png") center/cover fixed;
    background-color: rgb(111, 36, 161);
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.main-content{
    text-shadow: 0px 3px 4px rgba(8, 0, 0, 1);
}


svg {
	font-family: "Russo One", sans-serif;
	width: 100%; height: 100%;
}
svg text {
	animation: stroke 3s infinite alternate;
	stroke-width: 2;
	stroke: #A0A0A0;
	font-size: 60px;
}
@keyframes stroke {
	0%   {
		fill: rgba(204,204,204,0); stroke: rgb(0, 0, 0);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(204,204,204,0); stroke: rgb(10, 10, 10); }
	80%  {fill: rgba(204,204,204,0); stroke: rgba(160,160,160,1); stroke-width: 3; }
	100% {
		fill: rgba(204,204,204,1); stroke: rgba(160,160,160,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}




/* column */

.three-columns{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 150px;
}

.column{
    flex:1;
    padding: 10px;
    border: 5px solid  #333;
    margin: 0 10px;
}

.column img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/* Footer */

.footer{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* media Queries for mobile */

@media (max-width: 768px) {
    .three-columns {
        flex-direction: column;
    }
    .column {
        margin: 0 0 20px 0;
    }
}